body {
	font: normal 1em/1.4 'HelveticaNeue-Light',Helvetica,Arial,sans-serif;
	color: #595241;
}

h1 {

}

h2 {
	
}

h2.page-title {
	
}

h2.tag-name {
	margin-top: 0;
	color: #828175;
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {

}

p {

}

a {
	color: white;
	text-decoration: none;
	transition: 0.2s;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {
	text-decoration: underline;
}

::-moz-selection {
	background: #b3d4fc;
}
::selection {
	background: #b3d4fc;
}

/* FONTS */
@font-face {
	font-family: 'HelveticaNeue-Light';
	src: url('../fonts/HelveticaNeue-Light.eot?') format('eot'), 
	     url('../fonts/HelveticaNeue-Light.otf')  format('opentype'),
	     url('../fonts/HelveticaNeue-Light.woff') format('woff'), 
	     url('../fonts/HelveticaNeue-Light.ttf')  format('truetype'),
	     url('../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
}
@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: url('../fonts/HelveticaNeue-Bold.eot?') format('eot'), 
	     url('../fonts/HelveticaNeue-Bold.otf')  format('opentype'),
	     url('../fonts/HelveticaNeue-Bold.woff') format('woff'), 
	     url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'),
	     url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
}
@font-face {
	font-family: 'HelveticaNeue-Roman';
	src: url('../fonts/HelveticaNeue-Roman.eot?') format('eot'), 
	     url('../fonts/HelveticaNeue-Roman.otf')  format('opentype'),
	     url('../fonts/HelveticaNeue-Roman.woff') format('woff'), 
	     url('../fonts/HelveticaNeue-Roman.ttf')  format('truetype'),
	     url('../fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
}